:host {
    min-height: 35px;
    min-width: 120px;
    width: 100%;
    font-size: 18px;
    border-radius: 2px;
    position: relative; 
}

input {
    min-height: inherit;
    min-width: inherit;
    width: inherit;
    padding: 2px 5px;
    border: black solid 1px;
    border-radius: inherit;
}

span.type {
    position: absolute;
    padding: 8px;
    pointer-events: none;
    color: rgb(136, 136, 136)
}

.has-icon {
    padding-left: 32px;
}





